// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 200px;
    border-width: 1px;
    border-top: 2px solid $theme-primary !important;
}

hr.light {
    border-top: 1px solid $theme-tertiary !important;
}

h1 {
    @include heading-font;
}

h2,
h3,
h4,
h5,
h6 {
    @include body-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 25px 0;
    h2 {
        font-size: 50px;
    }
}

.btn-outline-dark {
    color: $theme-primary;
    border: 1px solid;
    border-color: $theme-primary;
  }
  
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active {
    color: white;
    border-color: $theme-tertiary;
    background-color: $theme-tertiary;
}

.btn-tertiary {
    color: white;
    background-color: $theme-tertiary;
  }
  
.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active, .btn-tertiary.active {
    color: white;
    border: 1px solid white;
}

.feature-icon {
    font-size: 100px;
    background: -webkit-gradient(linear, right top, left top, from($theme-secondary), to($theme-third));
    background: linear-gradient(to left, $theme-secondary, $theme-third);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white {
    color: #fff;
}

#cta-1 {
    background: url('../img/CultureFinderHero.png'), $theme-primary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#more-features {
    background-color: #eee;
}

.highlight {
    display: inline-block;
    transition: color 250ms, text-shadow 250ms;
    text-decoration: none;
    
    position: relative;
    z-index: 0;

    &::after {
        position: absolute;
        z-index: -1;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 100%;
        height: 3px;
        background-color: $theme-tertiary;
        transition: all 250ms;
    }

    &:hover {
        color: white;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
        
        &::after {
            height: 115%;
            width: 102%;
        }
        
    }
    
}
@media (max-width: 442px) {
    .highlight::after {
        display: none;
    }
}
.persit-highlight {
    transition: color 250ms, text-shadow 250ms;
    text-decoration: none;
    
    position: relative;
    z-index: 0;

    &::after {
        position: absolute;
        z-index: -1;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        height: 115%;
        width: 103%;
        background-color: $theme-tertiary;
        transition: all 250ms;
    }
}

.transform:hover, .row:hover > .transform-img{
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px)
}

.transform, .transform-img {
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.is-animated {
    #transition-container path {
        transform: translateX(0px);

        &:nth-of-type(5) {
            animation: toRight 500ms cubic-bezier(.53,-0.38,.81,.18) forwards;	
        }

        &:nth-of-type(4) {
            animation: toRight 550ms 75ms cubic-bezier(.53,-0.38,.81,.18) forwards;	
        }

        &:nth-of-type(3) {
            animation: toRight 600ms 150ms cubic-bezier(.53,-0.38,.81,.18) forwards;	
        }

        &:nth-of-type(2) {
            animation: toRight 650ms 225ms cubic-bezier(.53,-0.38,.81,.18) forwards;	
        }

        &:nth-of-type(1) {
            animation: toRight 700ms 300ms cubic-bezier(.53,-0.38,.81,.18) forwards;	
        }

    }
}

@keyframes toRight {
	
	100% {
		transform: translateX(-800px);
	}
	
}

.fademe {
    opacity: 0;
}



$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : $theme-tertiary;

  
  .fancy-link {
    color: white;
    padding: $pad $extra;
    display: inline-block;
    border: $thick solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      transform: translate3d(0,$pad,0);
      display: block;
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -$thick;
      left: $extra;
      right: $extra;
      height: $thick;
      background: $color;
      // z-index: -1;
      transition: 
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
      transform-origin: left;
    }

  }

  .line {
    position: absolute;
    background: $color;

    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(1,0,1);
    }  

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0,1,1);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
      transform-origin: right;
    }  
  }

  .fancy-link:hover,
  .fancy-link:active {
text-decoration: none;
color: white;
    .text {
      transform: translate3d(0,0,0);
      transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      transform: scale3d(0,1,1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition: 
        transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
        right 0.2s cubic-bezier(1,0,.65,1.01),
        left 0s 0.3s;
    }

    .line {
      transform: scale3d(1,1,1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
        transform-origin: left;
      }
    }

  }